<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>tachyons</string>
	<key>CFBundleName</key>
	<string>Tachyons</string>
	<key>DocSetPlatformFamily</key>
	<string>tachyons</string>
	<key>isDashDocset</key>
	<true/>
	<key>DashDocSetFamily</key>
	<string>dashtoc</string>
	<key>dashIndexFilePath</key>
	<string>tachyons.io/index.html</string>
	<key>isJavaScriptEnabled</key><false/>
</dict>
</plist>
